.signup-header {
    padding-bottom: 20px;
    margin-left: 55px;

    b {
        color: rgb(1, 132, 219);
    }
}

.email-password-container {
    padding: 50px;
    text-align: center;

}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    font-size: 14px;
    min-width: 400px;

    ::placeholder {
        padding-left: 10px;
    }

    span {
        width: 100px;
        text-overflow: unset;
        white-space: nowrap;
    }

    input {
        height: 30px;
        border-radius: 5px;
        transition: 0.4s;
        border: 1px solid rgb(61, 173, 218);

    }

    input:focus {
        outline: none;
    }
}

.email-password-input-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

legend {
    position: relative;
    right: 60px;
    font-size: 16px;
    width: 400px;
}

.radio-wrapper {
    display: flex;
    width: max-content;
    gap: 5px;
    font-size: 14px;
    align-self: center;
    // margin-left: 38px;
    text-align: center;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-left: 30px;

    span {
        padding-left: 25px;
        flex-grow: 1;
    }
}

.radio-input-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.range-input-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 70px;
}

.btn-container {
    margin-left: 70px;

    button {
        width: 200px;
        height: 35px;
        border-radius: 5px;
        background-color: rgb(67, 93, 175);
    }
}

.users-counter {
    text-align: center;
    margin-left: 23px;
}